{:ryhmasahkoposti {:url "https://itest-virkailija.oph.ware.fi/ryhmasahkoposti-service/email/async/firewall"
                   :preview-url "https://itest-virkailija.oph.ware.fi/ryhmasahkoposti-service/email/preview/firewall"}
 :db {:schema "public"
      :servername "oppijantunnistusdb"
      :databasename "oppijantunnistusdb"
      :username "postgres"
      :password "postgres"
      :port 5432}
 :expires-in { :days 30 }
 :server {:port 9090
          :base-url "/oppijan-tunnistus"}}
