{:host-virkailija "https://virkailija.testiopintopolku.fi/"
 :cas {:url "https://virkailija.testiopintopolku.fi/cas"
       :username ""
       :password ""}
 :db {:schema "public"
      :servername "localhost"
      :databasename "oppijantunnistusdb"
      :username "postgres"
      :password "postgres"
      :port 5432}
 :expires-in { :days 30 }
 :server {:port 9090
          :base-url "/oppijan-tunnistus"}}
