{:cas {:url "https://itest-virkailija.oph.ware.fi"}
 :ryhmasahkoposti {:params ["https://itest-virkailija.oph.ware.fi/ryhmasahkoposti-service" "oppijantunnistus" "ophtest12#"]
                   :url "https://itest-virkailija.oph.ware.fi/ryhmasahkoposti-service/email"}
 :db {:schema "public"
      :servername "oppijantunnistusdb"
      :databasename "oppijantunnistusdb"
      :username "postgres"
      :password "postgres"
      :port 5432}
 :server {:port 9090
          :base-url "/oppijan-tunnistus"}}
