{:cas {:url "http://localhost:{{fakeServerPort}}"}
 :ryhmasahkoposti {:params ["http://localhost:{{fakeServerPort}}" "oppijantunnistus" "ophtest12#"]
                   :url "http://localhost:{{fakeServerPort}}/ryhmasahkoposti-service/email"}
 :db {:schema "public"
      :servername "oppijantunnistusdb"
      :databasename "oppijantunnistusdb"
      :username "postgres"
      :password "postgres"
      :port 5432}
 :server {:port 8080
          :base-url "/oppijan-tunnistus"}}
