{:host-virkailija "http://localhost:{{fakeServerPort}}"
 :db {:schema "public"
      :servername "localhost"
      :databasename "oppijantunnistusdb"
      :username "postgres"
      :password "postgres"
      :port 5432}
 :expires-in { :days 5 }
 :server {:port 8080
          :base-url "/oppijan-tunnistus"}}
